<div class="keyword-search">
<label>Keyword search:</label>
<input [(ngModel)]="searchTerm" placeholder="Search by first name, last name, full name or phone" style="width: 20%;" class="keyword-input">
@for(count of userCount(); track count){
  @if(count.count !== 0){
    <label  class="count-label">Users born in the {{dec_dic[count.decade]}}: {{count.count}} | </label>
  }
}
</div>
<p></p>

<nz-table #filterTable [nzData]="filteredUsers()" nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of listOfColumns; track column) {
            <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              [nzSortPriority]="column.priority"
            >
              {{ column.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data._id) {
          <tr>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.birthDate }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.phone }}</td>
          </tr>
        }
      </tbody>
    </nz-table>