.table-main {
  max-width: 50%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.keyword-search{
    margin-left:10px
}

.keyword-input{
    border-radius:5px;
    box-shadow: 0 4px 14px rgb(185, 178, 241);;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.count-label{
    margin-top:10px;
    margin-right: 10px;
}
.counter{
    margin-right: 5px;
}

.user-counts{
    margin-left: 3%;
    margin-top:10px;
    border-color:rgb(223, 99, 99);
    border-width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
}