<p>table works!</p>
<input [(ngModel)]="searchTerm">
<p></p>
@for(user of filteredUsers(); track user.id){
    <span>{{user.firstName}}</span>
}

<nz-table #filterTable [nzData]="filteredUsers()" nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of listOfColumns; track column) {
            <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
            >
              {{ column.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data) {
          <tr>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.birthDate }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.phone }}</td>
          </tr>
        }
      </tbody>
    </nz-table>