<div class="table-main">
<div class="keyword-search">
<label>Keyword search:</label>
<input [(ngModel)]="searchTerm" placeholder="Search by first name, last name, full name or phone" style="width: 20%;" class="keyword-input">

<label class="count-label">
@for(count of userCount(); track count; let last=$last){
  @if(count.count !== 0){
    Users born in the {{dec_dic[count.decade]}}: <span class="counter">{{count.count}}</span> @if(!last){| }
  }
}
</label>
<button nz-button  nz-dropdown [nzDropdownMenu]="frommenu">FROM</button>
<button nz-button  nz-dropdown [nzDropdownMenu]="tomenu" [nzDisabled]="range().length<1" class="to-btn">TO</button>
<button nz-button (click)="export()" class="export-btn">Export</button>


</div>

@if(rangeSelected()){
  <div class="user-counts">
    <script>
      </script>
  <ag-charts [options]="options()"></ag-charts>
  </div>
}

<p></p>

<nz-table #filterTable [nzData]="filteredUsers()" nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of listOfColumns; track column) {
            <th
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              [nzSortPriority]="column.priority"
            >
              {{ column.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data._id) {
          <tr>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td data-cy="birth-date">{{ data.birthDate }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.phone }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
</div>
<nz-dropdown-menu #frommenu="nzDropdownMenu">
  <ul nz-menu>
    @for(letter of alphabet; track $index){
      <li nz-menu-item (click)="firstLetter(letter)" class="dropdown-item">{{letter.toUpperCase()}}</li>
    }
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #tomenu="nzDropdownMenu">
  <ul nz-menu>
    @for(letter of toLetterArr; track $index){
      <li nz-menu-item (click)="secondLetter(letter)" class="dropdown-item">{{letter.toUpperCase()}}</li>
    }
  </ul>
</nz-dropdown-menu>